<div class="text-center container">
  <%= form_for @article do |f| %>

    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@article.errors.count, "error") %> Запрещено сохранение статьи
        </h2>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-outline mb-4">
      <div class="form-outline">
        <%= f.text_field :title, class:"form-control", id:"title" %>
        <%= f.label :Заголовок, class:"form-label", for:"title" %>
      </div>
    </div>

    <div class="form-outline mb-4">
      <div class="form-outline">
        <%= f.text_area :text, class:"form-control", id:"text" %>
        <%= f.label :Содержание, class:"form-label", for:"text" %>
      </div>
    </div>

    <%= f.submit :value => "Изменить запись", class: "btn btn-primary" %>

  <% end %>
</div>